.chat-container {
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top : 430px;
}

.send {
    margin-left : 5px;
}

input {
    padding: 5px;
    width : 300px;
}

h1 {
    text-align: center;
}

.btn {
    width : 80px;

}
