<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    
    <div class="chat-container">
    <div id="chat"></div>

    <div class="bottom">
        <form action="/show" method="GET">
            <input placeholder="Type a message" name="message">
            <button class="btn btn-outline-success">Send</button>
        </form>
    </div>
    
    </div>
</body>
</html>